<!DOCTYPE html>
<html lang="en">

<head>
    <title>Help - DAILY JOURNAL</title>
    <%- include("partials/header") %>
    <style>
        section
        {
            width:100%;
            height:80vh;
        }
    </style>
</head>

<body>
    

    <section class="container">
        <h1 style="padding-bottom:5vh;padding-top:5vh;">Help Center</h1>
        <h2 style="padding-bottom:5vh;">Frequently Asked Questions (FAQs)</h2>
        <p>1. <strong>How do I compose a new blog?</strong><br>
            To compose a new blog, click on the "Compose" link in the navigation menu and follow the on-screen instructions.</p>

       

        <h2>Contact Us</h2>
        <p style="padding-bottom:5vh;">If you need further assistance, please contact our support team at support@dailyjournal.com.</p>
    </section>

    <!-- Add the rest of your help content here -->

    <%- include("partials/footer")%>
</body>

</html>
