
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
    <%- include("partials/header") %>
    <style>
        .usersection
        {
            width:100%;
            height:100vh;
        }
        h4
        {
            padding-top:0.5%;
            padding-left:3%;
            font-size:6vh !important;
            padding-bottom:3%;
        }
        .content
        {
            padding-left:3%;
        }
        h3
        {
            font-size:7vh !important;
        }
        span
        {
            font-size:3vh;
        }
    </style>
</head>
<body>
    <div class="usersection container">
    <h3 >Title:</h3><h4><%=tatal%></h4>
<h3>post:</h3><span class="content"><%=content%></span>
</div>
<%- include("partials/footer") %>
</body>
</html>

